
body{
    background-color: #a192bf !important; 
}

*{

    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}

.row .right_div {
    margin-top: 100px;
    border-radius: 10px;
    background-color: #F0EBE3;
    padding: 30px 40px;
    height: 750px;
    width: 600px;
}

.row .right_div h2 {
    text-align: center;
    color: #A66CFF;
    margin-bottom: 35px;
    font-weight: 800;
}

form input [type=checkbox] {
    margin-left: 10px;
}

form .label {
    margin-left: 3px;
}

form .checkbox {
    margin-left: 8px;
}

form .button {
    margin-top: 25px;
    margin-right: 150px;
    border-radius: 15px;
    color: #fff;
    background-color: #5800FF;
    padding: 8px 17px;
    border: none;
    cursor: pointer;
}

form .button:hover {
    transition: 0.4s ease;
    background-color: #00D7FF;

}

.row .left_div {
    margin-left: 25px;
    margin-top: 100px;
    border-radius: 10px;
    /* background-color: #F0EBE3; */
    padding: 30px 40px;
}

.row .left_div h2 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 35px;
    font-weight: 700;
}

/******************************* Card CSS  *****************************/

.left_div .card {         
    height: 375px;
    width:250px;
    position: relative;
    border-radius:10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    margin-left: 120px;
    margin-bottom: 30px;
    transition: margin-right 2s ease-in-out .5s;
}

.top img {
    height: 90px;
    width:90px;
    background-color:#e6ebe0;
    border-radius:57px;
    position: absolute;
    top: 31px;
    left: 75px;
    object-fit: content;
    border:3px solid rgba(255 , 255 , 255 , .2);
            
}

.name {
    position: absolute;
    top: 132px;
    color:#222;
    font-size:18px;
    width: 84%;
    text-align: center;
}
        
.details {
    position: absolute;
    top: 176px;
    text-transform:capitalize;
    font-size: 11px;
    text-emphasis: spacing;
    margin-left: 5px;
}

.details p {
    font-size: 12px;
}

.details p, div {
    padding-left: 5px;
}
